## The steps of the code are as follows:
1. Import the RTKLIB corrected Rinex drone data. 
2. Import the Timestamp.MRK file from the UAV.
3. Calculate the camera specific positions from these two files.
4. Scrape the EXIF-data from the original photos to append the pitch, roll, and yaw to the location file. 
    This data can then be used to import into Agisoft.

In [1]:
# Import numerical tools
import numpy as np
# Import pyplot for plotting
import matplotlib.pyplot as plt
#Import pandas for reading in and managing data
import pandas as pd
import math
# Magic function to make matplotlib inlineSet the filename for the code used for your imagery collection. This is the first 7 digits when you download imagery. Set the date for your flight collections.; other style specs must come AFTER
%matplotlib inline
%config InlineBackend.figure_formats = {'svg',}
#Comment the above line and uncomment the line below if svg graphics are not working in your browser.
#%config InlineBackend.figure_formats = {'png', 'retina'}
import os
import glob
import os.path

## Set the filename for the code used for your imagery collection. This is the first 7 digits when you download imagery. Set the date for your flight collections.

In [145]:
# Set the date of the flight to search for the working directory for each time this code is run.
date = '20220505'

In [62]:
# Set your working directory
# Hourglass processing work should be in the folder 'HG_2022_PPK_Processing' and should be parsed out by date
# Since each date will have its own folder, the date in the working directory should be the only thing changed in
# this form.
os.chdir('/Users/f67f911/Desktop/HG_PPK/' + date)

## Step 1: Read in the already corrected RINEX file from the drone. This file should always be saved in your directory as filename_Rinex.csv so that the following code works. This is from the drone capturing positional location throughout the entirety of the flight, so there will be many more rows of data than there are pictures taken during that flight.

In [63]:
# Designate the file paths for the raw and imagery files within the processing folder
raw_files_path = 'Raw_files/'
imagery_path = 'Imagery/'

In [64]:
# Capture all of the Rinex Files
rinex_files = glob.glob(raw_files_path + '/*.csv')
timestamp_files = glob.glob(raw_files_path + '/*.MRK')

In [67]:
# Create an empty list to hold the data from each .csv file
rinex_dfholder = []
# For each file in the rinex files variable, read the csv file and append to the dfholder
for i in rinex_files:
        # Create a new dataframe for each file
        df = pd.read_csv(i, index_col = None, header = 0)
        df = pd.DataFrame(df)
        # Add flight number data to differentiate what flight each data was collected with
        flight = os.path.basename(i)
        flight = os.path.splitext(flight)[0]
        # Replace the 'Rinex' descriptor with blank characters
        flight = flight.replace('_Rinex', '')
        # Create a new column in the dataframe to hold the flight number values
        df['flight'] = flight
        # Append the list of df_holder with all of the values for the individual dataframes
        rinex_dfholder.append(df)
# Concat all of the data into a final dataframe
RTKLIB_record = pd.concat(rinex_dfholder, axis = 0, ignore_index = True)
RTKLIB_record

,%,GPST,latitude(deg),longitude(deg),height(m),Q,ns,sdn(m),sde(m),sdu(m),sdne(m),sdeu(m),sdun(m),age(s),ratio,flight
0,2208,399470.8,45.835090,-110.932688,2314.4909,1,6,0.0149,0.0066,0.0224,0.0046,0.0076,0.0148,-4.2,527.1,101_0340
1,2208,399471.0,45.835090,-110.932688,2314.4880,1,6,0.0147,0.0065,0.0220,0.0045,0.0075,0.0145,-4.0,526.5,101_0340
2,2208,399471.2,45.835090,-110.932688,2314.4906,1,6,0.0144,0.0064,0.0217,0.0044,0.0073,0.0143,-3.8,526.0,101_0340
3,2208,399471.4,45.835090,-110.932688,2314.4864,1,6,0.0142,0.0062,0.0213,0.0043,0.0072,0.0141,-3.6,525.8,101_0340
4,2208,399471.6,45.835090,-110.932688,2314.4932,1,6,0.0139,0.0061,0.0210,0.0042,0.0070,0.0138,-3.4,525.7,101_0340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10353,2208,402980.0,45.835177,-110.934117,2298.8946,1,7,0.0044,0.0033,0.0089,0.0014,0.0033,-0.0024,0.0,18.1,101_0342
10354,2208,402980.2,45.835174,-110.934126,2298.9097,1,7,0.0050,0.0038,0.0101,0.0016,0.0039,-0.0025,0.2,18.2,101_0342
10355,2208,402980.4,45.835172,-110.934133,2298.9205,1,7,0.0049,0.0037,0.0099,0.0016,0.0038,-0.0024,0.4,18.3,101_0342
10356,2208,402980.6,45.835171,-110.934139,2298.9319,1,7,0.0046,0.0040,0.0084,-0.0001,0.0038,-0.0025,0.6,51.9,101_0342
10357,2208,402980.8,45.835170,-110.934142,2298.9275,1,7,0.0040,0.0036,0.0088,-0.0008,0.0041,-0.0028,0.8,51.9,101_0342

## Step 2: Read in the timestamp data as is from the UAV.

In [68]:
# Create an empty list to hold the data from each .csv file
timestamp_dfholder = []
# For each file in the rinex files variable, read the csv file and append to the dfholder
for j in timestamp_files:
        # Create a new dataframe for each file
        df = pd.read_table(j, index_col = None, header = None)
        df = pd.DataFrame(df)
        # Add flight number data to differentiate what flight each data was collected with
        flight = os.path.basename(j)
        flight = os.path.splitext(flight)[0]
        # Replace the 'Rinex' descriptor with blank characters
        flight = flight.replace('_Timestamp', '')
        # Create a new column in the dataframe to hold the flight number values
        df['flight'] = flight
        timestamp_dfholder.append(df)
# Concat all of the data into a final dataframe
timestamp_record = pd.concat(timestamp_dfholder, axis = 0, ignore_index = True)
timestamp_record.columns = ['Photo', 'GPS_Date','% GPST','Northing_diff_mm','Easting_diff_mm','Elevation_diff_mm','Lat','Lon','Height_m','std_North_m, std_East_m, std_Ele_m','RTK_status_flag','flight']
timestamp_record.head()

,Photo,GPS_Date,% GPST,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Lat,Lon,Height_m,"std_North_m, std_East_m, std_Ele_m",RTK_status_flag,flight
0,1,399477.727242,[2208],"-9,N","-4,E","194,V","45.83506059,Lat","-110.93269097,Lon","2317.334,Ellh","0.012661, 0.021600, 0.029364","50,Q",101_0340
1,2,399481.901610,[2208],"10,N","-16,E","193,V","45.83513023,Lat","-110.93275864,Lon","2307.852,Ellh","0.012964, 0.022205, 0.029983","50,Q",101_0340
2,3,399485.464902,[2208],"15,N","-21,E","193,V","45.83519589,Lat","-110.93282491,Lon","2298.959,Ellh","0.012870, 0.021786, 0.030213","50,Q",101_0340
3,4,399486.986303,[2208],"16,N","-21,E","192,V","45.83520890,Lat","-110.93283758,Lon","2297.254,Ellh","0.013342, 0.022087, 0.030188","50,Q",101_0340
4,5,399491.646347,[2208],"0,N","3,E","194,V","45.83522713,Lat","-110.93285622,Lon","2309.734,Ellh","0.013127, 0.021502, 0.030736","50,Q",101_0340

In [69]:
# Create a new dataframe to hold the timestamp record data in case we mess up in the future
timestamp = timestamp_record

### Note status flag values - 0: no positioning; 16: single-point positioning mode; 34: RTK floating solution; 50: RTK fixed solution. When flag of a photo is not equal to 50, it is recommended that you should not use that image in further processing.

## Clean the timestamp file to convert non-numeric text in columns to numeric

## When looking at our columns, we can see that there are many numbers followed by letters. We need to get rid of those numbers in order to continue with our analysis. 
### The following code removes any non-numeric value from the columns in the dataframe.

In [70]:
# For each column in the timestamp dataframe
for col in timestamp:
    if col == 'flight':
        timestamp[col] = timestamp[col]
    # If the column name is '% GPST'
    elif col == '% GPST':
        # Remove the brackets around the value and change the data to type int
        timestamp[col] = timestamp[col].str.replace('[','', regex = True).str.replace(']','', regex = True).astype(int)
    # Or if the column is equal to the standard deviation column
    elif col == 'std_North_m, std_East_m, std_Ele_m':
        # Leave it alone
        timestamp[col] = timestamp[col]
    # If the data type of the column is an object
    elif timestamp.dtypes[col] == object:
        # Replace non-numeric values with a blank value
        timestamp[col] = timestamp[col].str.replace(r'\,\D+', '', regex = True).astype(float)
# View the data to make sure it has been changed correctly
timestamp.head()

,Photo,GPS_Date,% GPST,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Lat,Lon,Height_m,"std_North_m, std_East_m, std_Ele_m",RTK_status_flag,flight
0,1,399477.727242,2208,-9.0,-4.0,194.0,45.835061,-110.932691,2317.334,"0.012661, 0.021600, 0.029364",50.0,101_0340
1,2,399481.901610,2208,10.0,-16.0,193.0,45.835130,-110.932759,2307.852,"0.012964, 0.022205, 0.029983",50.0,101_0340
2,3,399485.464902,2208,15.0,-21.0,193.0,45.835196,-110.932825,2298.959,"0.012870, 0.021786, 0.030213",50.0,101_0340
3,4,399486.986303,2208,16.0,-21.0,192.0,45.835209,-110.932838,2297.254,"0.013342, 0.022087, 0.030188",50.0,101_0340
4,5,399491.646347,2208,0.0,3.0,194.0,45.835227,-110.932856,2309.734,"0.013127, 0.021502, 0.030736",50.0,101_0340

### Calculate camera specific positions. 
Step one is to create a calculations spreadsheet.

In [71]:
# Create a new dataframe with set columns for our future calculations
calc = pd.DataFrame(columns = ['Northing_diff_mm','Easting_diff_mm','Elevation_diff_mm','Closest_Loc_ID',
                    'Timestamp_of_Closest','Closest_Lat','Closest_Lon','Closest_El','2nd_Closest_Loc_ID',
                    'Timestamp_of_2nd_Closest','2nd_Closest_Lat','2nd_Closest_Lon','2nd_Closest_El',
                    'Percent_diff_between_timestamps','Interpolated_Lat','Interpolated_Lon','Interpolated_El',
                    'Lat_Diff_deg','Lon_Diff_deg','El_diff_m','New_Lat','New_Lon','New_El']).astype(int)

### Calculate the values and input into the calc dataframe. This output will include a new latitude, longitude, and elevation.

In [72]:
# Populate the new dataframe with values from the timestamp data
calc['Northing_diff_mm'] = timestamp['Northing_diff_mm']
calc['Easting_diff_mm'] = timestamp['Easting_diff_mm']
calc['Elevation_diff_mm'] = timestamp['Elevation_diff_mm']
# Read in the data to make sure these columns have populated
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Percent_diff_between_timestamps,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El
0,-9.0,-4.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.0,-16.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15.0,-21.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16.0,-21.0,192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,3.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 3: Convert the latitude difference into degrees.

In [73]:
# First lets add a column in the RTKLIB data to populate out the timestamps.
# Set a record in case we mess up this data
RTKLIB = RTKLIB_record
RTKLIB.index.name = 'ID'
RTKLIB.reset_index(inplace = True)
RTKLIB.head()

,ID,%,GPST,latitude(deg),longitude(deg),height(m),Q,ns,sdn(m),sde(m),sdu(m),sdne(m),sdeu(m),sdun(m),age(s),ratio,flight
0,0,2208,399470.8,45.83509,-110.932688,2314.4909,1,6,0.0149,0.0066,0.0224,0.0046,0.0076,0.0148,-4.2,527.1,101_0340
1,1,2208,399471.0,45.83509,-110.932688,2314.4880,1,6,0.0147,0.0065,0.0220,0.0045,0.0075,0.0145,-4.0,526.5,101_0340
2,2,2208,399471.2,45.83509,-110.932688,2314.4906,1,6,0.0144,0.0064,0.0217,0.0044,0.0073,0.0143,-3.8,526.0,101_0340
3,3,2208,399471.4,45.83509,-110.932688,2314.4864,1,6,0.0142,0.0062,0.0213,0.0043,0.0072,0.0141,-3.6,525.8,101_0340
4,4,2208,399471.6,45.83509,-110.932688,2314.4932,1,6,0.0139,0.0061,0.0210,0.0042,0.0070,0.0138,-3.4,525.7,101_0340

In [74]:
# First, we need to create constant values with numbers used in further calculations
# as conversion factors
# 1 degree latitude in meters
deg_lat_m = 111111
# The latitude used. Use the first latitude value from the RTKLIB values
Lon_used = RTKLIB.iloc[0,RTKLIB.columns.get_loc('longitude(deg)')]
# 1 degree longitude in meters
deg_lon_m = abs(math.cos(np.deg2rad(Lon_used))*111111)

In [75]:
# This code calculates the latitude difference in degrees for this dataset. 
calc['Lat_Diff_deg'] = calc['Northing_diff_mm']/1000/deg_lat_m
# The longitude difference in degrees
calc['Lon_Diff_deg'] = calc['Easting_diff_mm']/1000/deg_lon_m
# The elevation difference in meters
calc['El_diff_m'] = calc['Elevation_diff_mm']/1000
# Call the head of the dataframe to make sure these calculations were done correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Percent_diff_between_timestamps,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El
0,-9.0,-4.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.100008e-08,-1.007640e-07,0.194,NaN,NaN,NaN
1,10.0,-16.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.000009e-08,-4.030559e-07,0.193,NaN,NaN,NaN
2,15.0,-21.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.350001e-07,-5.290108e-07,0.193,NaN,NaN,NaN
3,16.0,-21.0,192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.440001e-07,-5.290108e-07,0.192,NaN,NaN,NaN
4,0.0,3.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000e+00,7.557298e-08,0.194,NaN,NaN,NaN

### Calculate the closest latitude. To do this, we first need to calculate the timestamp that is closest.

In [76]:
# Create a merged dataframe that merges the two dataframes on the closest time values
merge = pd.merge_asof(timestamp, RTKLIB.sort_values('GPST'), left_on = 'GPS_Date', right_on = 'GPST', 
                      direction = 'nearest')
# View the new column names to be able to populate the calc dataframe
merge.columns

Index(['Photo', 'GPS_Date', '% GPST', 'Northing_diff_mm', 'Easting_diff_mm',
       'Elevation_diff_mm', 'Lat', 'Lon', 'Height_m',
       'std_North_m, std_East_m, std_Ele_m', 'RTK_status_flag', 'flight_x',
       'ID', '%', 'GPST', 'latitude(deg)', 'longitude(deg)', 'height(m)', 'Q',
       'ns', 'sdn(m)', 'sde(m)', 'sdu(m)', 'sdne(m)', 'sdeu(m)', 'sdun(m)',
       'age(s)', 'ratio', 'flight_y'],
      dtype='object')

In [77]:
# Populate columns of the calc dataframe with data from the merged dataframe
calc['Closest_Loc_ID'] = merge['ID']
calc['Timestamp_of_Closest'] = merge['GPST']
calc['Closest_Lat'] = merge['latitude(deg)']
calc['Closest_Lon'] = merge['longitude(deg)']
calc['Closest_El'] = merge['height(m)']
# Add in the flight identifier column 
calc['flight'] = merge['flight_y']
# View to make sure it has been read in correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,-9.0,-4.0,194.0,35,399477.8,45.835090,-110.932687,2314.5029,NaN,NaN,...,NaN,NaN,NaN,-8.100008e-08,-1.007640e-07,0.194,NaN,NaN,NaN,101_0340
1,10.0,-16.0,193.0,56,399482.0,45.835161,-110.932756,2304.7747,NaN,NaN,...,NaN,NaN,NaN,9.000009e-08,-4.030559e-07,0.193,NaN,NaN,NaN,101_0340
2,15.0,-21.0,193.0,73,399485.4,45.835224,-110.932820,2296.3104,NaN,NaN,...,NaN,NaN,NaN,1.350001e-07,-5.290108e-07,0.193,NaN,NaN,NaN,101_0340
3,16.0,-21.0,192.0,81,399487.0,45.835238,-110.932834,2294.4474,NaN,NaN,...,NaN,NaN,NaN,1.440001e-07,-5.290108e-07,0.192,NaN,NaN,NaN,101_0340
4,0.0,3.0,194.0,104,399491.6,45.835257,-110.932852,2306.9738,NaN,NaN,...,NaN,NaN,NaN,0.000000e+00,7.557298e-08,0.194,NaN,NaN,NaN,101_0340

In [78]:
# Now, we should populate the second closest values
# Add one to the closest location ID
calc['2nd_Closest_Loc_ID'] = calc['Closest_Loc_ID'] + 1
# And now populate the data from the RTKLIB file that matches that ID value
calc['Timestamp_of_2nd_Closest'] =  calc['2nd_Closest_Loc_ID'].map(RTKLIB['GPST'])
calc['2nd_Closest_Lat'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['latitude(deg)'])
calc['2nd_Closest_Lon'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['longitude(deg)'])
calc['2nd_Closest_El'] = calc['2nd_Closest_Loc_ID'].map(RTKLIB['height(m)'])
# View the dataframe to make sure it was populated correctly
calc.head()

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,-9.0,-4.0,194.0,35,399477.8,45.835090,-110.932687,2314.5029,36,399478.0,...,NaN,NaN,NaN,-8.100008e-08,-1.007640e-07,0.194,NaN,NaN,NaN,101_0340
1,10.0,-16.0,193.0,56,399482.0,45.835161,-110.932756,2304.7747,57,399482.2,...,NaN,NaN,NaN,9.000009e-08,-4.030559e-07,0.193,NaN,NaN,NaN,101_0340
2,15.0,-21.0,193.0,73,399485.4,45.835224,-110.932820,2296.3104,74,399485.6,...,NaN,NaN,NaN,1.350001e-07,-5.290108e-07,0.193,NaN,NaN,NaN,101_0340
3,16.0,-21.0,192.0,81,399487.0,45.835238,-110.932834,2294.4474,82,399487.2,...,NaN,NaN,NaN,1.440001e-07,-5.290108e-07,0.192,NaN,NaN,NaN,101_0340
4,0.0,3.0,194.0,104,399491.6,45.835257,-110.932852,2306.9738,105,399491.8,...,NaN,NaN,NaN,0.000000e+00,7.557298e-08,0.194,NaN,NaN,NaN,101_0340

In [79]:
# Calculate the percent difference between the timestamp values
calc['Percent_diff_between_timestamps'] = (timestamp['GPS_Date'] - calc['Timestamp_of_Closest'])/(calc['Timestamp_of_2nd_Closest'] - calc['Timestamp_of_Closest'])

In [80]:
# Calculate the interpolated latitude, longitude, and elevation based on the differences in timestamp data
calc['Interpolated_Lat'] = ((calc.Closest_Lat)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_Lat'])*(calc.Percent_diff_between_timestamps)
calc['Interpolated_Lon'] = ((calc.Closest_Lon)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_Lon'])*(calc.Percent_diff_between_timestamps)
calc['Interpolated_El'] = ((calc.Closest_El)*(1-calc.Percent_diff_between_timestamps))+(calc['2nd_Closest_El'])*(calc.Percent_diff_between_timestamps)
# View to make sure it has been populated correctly
calc

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,-9.0,-4.0,194.0,35,399477.8,45.835090,-110.932687,2314.5029,36,399478.0,...,45.835090,-110.932687,2314.550338,-8.100008e-08,-1.007640e-07,0.194,NaN,NaN,NaN,101_0340
1,10.0,-16.0,193.0,56,399482.0,45.835161,-110.932756,2304.7747,57,399482.2,...,45.835159,-110.932755,2305.025103,9.000009e-08,-4.030559e-07,0.193,NaN,NaN,NaN,101_0340
2,15.0,-21.0,193.0,73,399485.4,45.835224,-110.932820,2296.3104,74,399485.6,...,45.835225,-110.932821,2296.151390,1.350001e-07,-5.290108e-07,0.193,NaN,NaN,NaN,101_0340
3,16.0,-21.0,192.0,81,399487.0,45.835238,-110.932834,2294.4474,82,399487.2,...,45.835238,-110.932834,2294.432505,1.440001e-07,-5.290108e-07,0.192,NaN,NaN,NaN,101_0340
4,0.0,3.0,194.0,104,399491.6,45.835257,-110.932852,2306.9738,105,399491.8,...,45.835257,-110.932852,2306.946455,0.000000e+00,7.557298e-08,0.194,NaN,NaN,NaN,101_0340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,-6.0,-15.0,194.0,10266,402962.6,45.835441,-110.933304,2298.9403,10267,402962.8,...,45.835441,-110.933305,2298.939863,-5.400005e-08,-3.778649e-07,0.194,NaN,NaN,NaN,101_0342
558,0.0,-10.0,194.0,10288,402967.0,45.835375,-110.933508,2298.9670,10289,402967.2,...,45.835375,-110.933507,2298.966653,0.000000e+00,-2.519099e-07,0.194,NaN,NaN,NaN,101_0342
559,-6.0,-15.0,194.0,10310,402971.4,45.835307,-110.933715,2298.9891,10311,402971.6,...,45.835308,-110.933711,2298.992057,-5.400005e-08,-3.778649e-07,0.194,NaN,NaN,NaN,101_0342
560,-4.0,-15.0,194.0,10331,402975.6,45.835243,-110.933912,2298.9720,10332,402975.8,...,45.835242,-110.933915,2298.972320,-3.600004e-08,-3.778649e-07,0.194,NaN,NaN,NaN,101_0342
561,-21.0,-57.0,184.0,10353,402980.0,45.835177,-110.934117,2298.8946,10354,402980.2,...,45.835177,-110.934119,2298.896713,-1.890002e-07,-1.435887e-06,0.184,NaN,NaN,NaN,101_0342

In [81]:
# Calculate the new latitude, longitude, and elevation
calc['New_Lat'] = calc['Interpolated_Lat'] + calc['Lat_Diff_deg']
calc['New_Lon'] = calc['Interpolated_Lon'] + calc['Lon_Diff_deg']
calc['New_El'] = calc['Interpolated_El'] + calc['El_diff_m']
calc

,Northing_diff_mm,Easting_diff_mm,Elevation_diff_mm,Closest_Loc_ID,Timestamp_of_Closest,Closest_Lat,Closest_Lon,Closest_El,2nd_Closest_Loc_ID,Timestamp_of_2nd_Closest,...,Interpolated_Lat,Interpolated_Lon,Interpolated_El,Lat_Diff_deg,Lon_Diff_deg,El_diff_m,New_Lat,New_Lon,New_El,flight
0,-9.0,-4.0,194.0,35,399477.8,45.835090,-110.932687,2314.5029,36,399478.0,...,45.835090,-110.932687,2314.550338,-8.100008e-08,-1.007640e-07,0.194,45.835090,-110.932687,2314.744338,101_0340
1,10.0,-16.0,193.0,56,399482.0,45.835161,-110.932756,2304.7747,57,399482.2,...,45.835159,-110.932755,2305.025103,9.000009e-08,-4.030559e-07,0.193,45.835160,-110.932755,2305.218103,101_0340
2,15.0,-21.0,193.0,73,399485.4,45.835224,-110.932820,2296.3104,74,399485.6,...,45.835225,-110.932821,2296.151390,1.350001e-07,-5.290108e-07,0.193,45.835225,-110.932821,2296.344390,101_0340
3,16.0,-21.0,192.0,81,399487.0,45.835238,-110.932834,2294.4474,82,399487.2,...,45.835238,-110.932834,2294.432505,1.440001e-07,-5.290108e-07,0.192,45.835238,-110.932834,2294.624505,101_0340
4,0.0,3.0,194.0,104,399491.6,45.835257,-110.932852,2306.9738,105,399491.8,...,45.835257,-110.932852,2306.946455,0.000000e+00,7.557298e-08,0.194,45.835257,-110.932852,2307.140455,101_0340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,-6.0,-15.0,194.0,10266,402962.6,45.835441,-110.933304,2298.9403,10267,402962.8,...,45.835441,-110.933305,2298.939863,-5.400005e-08,-3.778649e-07,0.194,45.835441,-110.933305,2299.133863,101_0342
558,0.0,-10.0,194.0,10288,402967.0,45.835375,-110.933508,2298.9670,10289,402967.2,...,45.835375,-110.933507,2298.966653,0.000000e+00,-2.519099e-07,0.194,45.835375,-110.933508,2299.160653,101_0342
559,-6.0,-15.0,194.0,10310,402971.4,45.835307,-110.933715,2298.9891,10311,402971.6,...,45.835308,-110.933711,2298.992057,-5.400005e-08,-3.778649e-07,0.194,45.835308,-110.933712,2299.186057,101_0342
560,-4.0,-15.0,194.0,10331,402975.6,45.835243,-110.933912,2298.9720,10332,402975.8,...,45.835242,-110.933915,2298.972320,-3.600004e-08,-3.778649e-07,0.194,45.835242,-110.933915,2299.166320,101_0342
561,-21.0,-57.0,184.0,10353,402980.0,45.835177,-110.934117,2298.8946,10354,402980.2,...,45.835177,-110.934119,2298.896713,-1.890002e-07,-1.435887e-06,0.184,45.835176,-110.934120,2299.080713,101_0342

In [114]:
# Create an export dataframe that contains the new locational data
location_export = calc[['New_Lat','New_Lon','New_El']]
# Reset the index to create a column to hold image ID data
location_export = location_export.reset_index()
# Rename the index column with a descriptive name and then incremently increase the values to match the collected imagery
location_export = location_export.rename(columns = {'index':'FlightID'})
# location_export['PhotoID'] = RTKLIB['flight']
location_export['FlightID'] = calc['flight'].astype(int)
# location_export['PhotoID'] = location_export.index + location_export['PhotoID']
# View the data to make sure that it has been read in correctly.                                          
location_export

     FlightID    New_Lat     New_Lon       New_El
0     1010340  45.835090 -110.932687  2314.744338
1     1010340  45.835160 -110.932755  2305.218103
2     1010340  45.835225 -110.932821  2296.344390
3     1010340  45.835238 -110.932834  2294.624505
4     1010340  45.835257 -110.932852  2307.140455
..        ...        ...         ...          ...
557   1010342  45.835441 -110.933305  2299.133863
558   1010342  45.835375 -110.933508  2299.160653
559   1010342  45.835308 -110.933712  2299.186057
560   1010342  45.835242 -110.933915  2299.166320
561   1010342  45.835176 -110.934120  2299.080713

[562 rows x 4 columns]

### Now, we need to call the original photo EXIF information to adjust pitch, roll, and yaw.

In [83]:
# Import exiftoolhelper from the package exiftool
from exiftool import ExifToolHelper

In [90]:
# Change the file names of the imagery you are interested in downloading. The files should all be housed in 
# the same 'imagery' folder
imagery_folders = ['101_0340','101_0341','101_0342']

In [103]:
# Create an empty list to hold the imagery names
imagery_files = []
# for each path in the imagery folders of interest, read in the .jpgs
for path in imagery_folders:
    # Append the empty list to create a list of lists
    imagery_files.append(glob.glob(imagery_path + path + '/*.JPG'))

In [108]:
# Create a loop to turn the list of lists generated in the above code to a flat list
imagery_flat_list = []
# For each sublist in the above list of lists, append the item of that list to a singular list
for sublist in imagery_files:
    for item in sublist:
        imagery_flat_list.append(item)

In [177]:
# Create an empty list to hold the exif_data
exif_data = []
# With the ExifToolHelper, get tag information for each image
with ExifToolHelper() as et:
    # Specify what tag information you would like to capture
    for d in et.get_tags(imagery_flat_list, tags = ['Pitch','Roll','Yaw']):
        # append the list 
        exif_data.append(d)
        # Create a dataframe from the list values 
        exif_df = pd.DataFrame.from_dict(exif_data)

In [203]:
exif_df = exif_df.sort_values(by = 'SourceFile')
exif_df.reset_index(drop = True)
exif_df

,SourceFile,MakerNotes:Pitch,MakerNotes:Roll,MakerNotes:Yaw,file_names
27,Imagery/101_0340/101_0340_0001.JPG,-10.0,3.1,-33.200001,101_0340_0001
13,Imagery/101_0340/101_0340_0002.JPG,-5.6,2.3,-33.799999,101_0340_0002
0,Imagery/101_0340/101_0340_0003.JPG,-4.7,3.1,-34.200001,101_0340_0003
42,Imagery/101_0340/101_0340_0004.JPG,0.0,2.0,-35.599998,101_0340_0004
31,Imagery/101_0340/101_0340_0005.JPG,-7.6,-0.9,-50.700001,101_0340_0005
...,...,...,...,...,...
480,Imagery/101_0342/101_0342_0155.JPG,-4.7,0.0,-114.900002,101_0342_0155
490,Imagery/101_0342/101_0342_0156.JPG,-8.0,-1.5,-115.300003,101_0342_0156
491,Imagery/101_0342/101_0342_0157.JPG,-5.4,-0.3,-114.900002,101_0342_0157
503,Imagery/101_0342/101_0342_0158.JPG,-5.6,-0.8,-115.099998,101_0342_0158
502,Imagery/101_0342/101_0342_0159.JPG,-2.0,-1.1,-115.300003,101_0342_0159

In [218]:
file_names = []
for f in exif_df['SourceFile']:
    name = os.path.basename(f)
    file_names.append(name)
exif_df['file_names'] = file_names
exif_df

,SourceFile,MakerNotes:Pitch,MakerNotes:Roll,MakerNotes:Yaw,file_names
27,Imagery/101_0340/101_0340_0001.JPG,-10.0,3.1,-33.200001,101_0340_0001.JPG
13,Imagery/101_0340/101_0340_0002.JPG,-5.6,2.3,-33.799999,101_0340_0002.JPG
0,Imagery/101_0340/101_0340_0003.JPG,-4.7,3.1,-34.200001,101_0340_0003.JPG
42,Imagery/101_0340/101_0340_0004.JPG,0.0,2.0,-35.599998,101_0340_0004.JPG
31,Imagery/101_0340/101_0340_0005.JPG,-7.6,-0.9,-50.700001,101_0340_0005.JPG
...,...,...,...,...,...
480,Imagery/101_0342/101_0342_0155.JPG,-4.7,0.0,-114.900002,101_0342_0155.JPG
490,Imagery/101_0342/101_0342_0156.JPG,-8.0,-1.5,-115.300003,101_0342_0156.JPG
491,Imagery/101_0342/101_0342_0157.JPG,-5.4,-0.3,-114.900002,101_0342_0157.JPG
503,Imagery/101_0342/101_0342_0158.JPG,-5.6,-0.8,-115.099998,101_0342_0158.JPG
502,Imagery/101_0342/101_0342_0159.JPG,-2.0,-1.1,-115.300003,101_0342_0159.JPG

In [219]:
final_export = location_export.join(exif_df)

In [220]:
final_export = final_export.drop(columns = ['SourceFile','FlightID'])
final_export = final_export.rename(columns = {'MakerNotes:Pitch':'Pitch','MakerNotes:Roll':'Roll','MakerNotes:Yaw':'Yaw'})
final_export = final_export.set_index('file_names')

In [221]:
final_export = final_export.sort_values(by = 'file_names')
final_export

                     New_Lat     New_Lon       New_El  Pitch  Roll         Yaw
file_names
101_0340_0001.JPG  45.835162 -110.933822  2295.224324  -10.0   3.1  -33.200001
101_0340_0002.JPG  45.835041 -110.932987  2283.232549   -5.6   2.3  -33.799999
101_0340_0003.JPG  45.835090 -110.932687  2314.744338   -4.7   3.1  -34.200001
101_0340_0004.JPG  45.834992 -110.934155  2304.889591    0.0   2.0  -35.599998
101_0340_0005.JPG  45.834793 -110.933444  2298.013719   -7.6  -0.9  -50.700001
...                      ...         ...          ...    ...   ...         ...
101_0342_0155.JPG  45.837441 -110.933849  2299.207977   -4.7   0.0 -114.900002
101_0342_0156.JPG  45.836899 -110.934559  2299.108975   -8.0  -1.5 -115.300003
101_0342_0157.JPG  45.836833 -110.934760  2299.119112   -5.4  -0.3 -114.900002
101_0342_0158.JPG  45.836992 -110.933316  2299.079965   -5.6  -0.8 -115.099998
101_0342_0159.JPG  45.836925 -110.933521  2299.127043   -2.0  -1.1 -115.300003

[562 rows x 6 columns]

## Final Step: Adjust the elevation data to account for differences in Snow Depth between flight dates

In [222]:
# Read in the .csv file with all of the RTK Heights for the season
rtk_height = pd.read_csv('/Users/f67f911/Desktop/HG_PPK/RTK_Base_Height.csv')

In [223]:
rtk_height

       Date  Snow Depth (cm)  Height to RTK (cm)  Corrected Height
0  20220212               95                 220                53
1  20220218              140                 245                78
2  20220325              159                 253                86
3  20220505              170                 270               103
4  20220510              179                 261                94
5  20220517               82                 168                 1

In [224]:
# Capture the value for the height diffences for the date of interest
diff_height = rtk_height[rtk_height['Date'] == int(date)]
# Call to make sure it was captured correctly
# If no data is displayed, it may be because no RTK Height information was captured that day
diff_height

       Date  Snow Depth (cm)  Height to RTK (cm)  Corrected Height
3  20220505              170                 270               103

In [225]:
corrected_el = (final_export['New_El'] - int(diff_height['Corrected Height'])/100)

In [226]:
final_export['New_El'] = corrected_el

In [227]:
final_export

                     New_Lat     New_Lon       New_El  Pitch  Roll         Yaw
file_names
101_0340_0001.JPG  45.835162 -110.933822  2294.194324  -10.0   3.1  -33.200001
101_0340_0002.JPG  45.835041 -110.932987  2282.202549   -5.6   2.3  -33.799999
101_0340_0003.JPG  45.835090 -110.932687  2313.714338   -4.7   3.1  -34.200001
101_0340_0004.JPG  45.834992 -110.934155  2303.859591    0.0   2.0  -35.599998
101_0340_0005.JPG  45.834793 -110.933444  2296.983719   -7.6  -0.9  -50.700001
...                      ...         ...          ...    ...   ...         ...
101_0342_0155.JPG  45.837441 -110.933849  2298.177977   -4.7   0.0 -114.900002
101_0342_0156.JPG  45.836899 -110.934559  2298.078975   -8.0  -1.5 -115.300003
101_0342_0157.JPG  45.836833 -110.934760  2298.089112   -5.4  -0.3 -114.900002
101_0342_0158.JPG  45.836992 -110.933316  2298.049965   -5.6  -0.8 -115.099998
101_0342_0159.JPG  45.836925 -110.933521  2298.097043   -2.0  -1.1 -115.300003

[562 rows x 6 columns]

In [228]:
final_export.to_csv('Corrected_Imagery_Locs.csv')